body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

.box {
  margin-top: 100px;
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
}